.linkedListText{
    width: 100%;
    min-height: 30vh;
}

.window {
    text-align: center;
    max-width: 100%;

}

.linkedListText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    border: 2px solid black;
}

.linkedListText div{
    border: 2px solid black;
    height: 20px;
    font-size: 20px;
}
